<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Buy Ticket</title>
     {% load static %}
    <link rel='stylesheet' href='{% static "tix_app/css/bootstrap.css" %}'>
</head>
<body>
    <div id='buy_ticket_wrapper' >
        <nav id='general_nav' class="navbar navbar-light bg-light">
            <h2>TiXchange</h2>
            <div class="btn-group" role="group">
            <a id='general_nav_link1' class='btn btn-info' role='button' href='/main_tix_page '>Main</a>
            </li>
            <a id='general_nav_link1' class='btn btn-info' role='button' href='/user_profile/{{users.id}} '>{{ users.username}}'s Ticket Offers</a>
            </li>
            </div>
        </nav>
        <div id="buy_mid">
            <div id='buy_ticket_form_container'>
                <h1>Confirm TiX Purchase</h1>
                <table class='table'>
                    <tr>
                        <td>Seller</td>
                        <td>Event</td>
                        <td>Event Date</td>
                        <td>Face Value</td>
                        <td>Seller Price</td>
                    </tr>
                    {% for ticket in tickets %}
                    <tr>
                        <td>{{ ticket.user.username }}</td>
                        <td>{{ ticket.event.event_name }}</td>
                        <td>{{ ticket.event.event_date }}</td>
                        <td>${{ ticket.face_value }}</td>
                        <td>${{ ticket.price }}</td>
                    </tr>
                    {% endfor %}
                </table>
                <h3>Payment Details:</h3>
                {% for ticket in tickets %}
                <p>Agreed Price: ${{ ticket.price }}</p>
                <p>TiX Fees: ${{ charge }}</p>
                <p>Total: ${{ finalPrice }}</p>
                {% endfor %}
            
                <form action="/buy_process/" method="POST">
                    {% csrf_token %}
                    {% for ticket in tickets %}
                    <input type='hidden' name='buy_hidden' value="{{ticket.id}}"> 
                    {% endfor %}
                    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" 
                    data-key="pk_test_BcTx64V3uqkmMoy0fwEoDnam" 
                    {% for ticket in tickets %}
                    data-amount="{% widthratio ticket.price 1 100 %}"
                    {% endfor %}
                    data-name="Stripe.com" data-description="Widget" data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                        data-locale="auto" data-zip-code="true">
                        </script>
                </form>
                
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}
                        <a href='/main_tix_page'>Return to Main</a>
                        </li>
                        {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>